* {
   font-family: Helvetica; 
   font-size: 22px;
   color: seashell;
   opacity: 0.9;
   text-align: center;
}

body {
    background-color: black;
}

nav {

    height: 69px;
    border-bottom: 1px solid seashell;
}

.imglogo {
    display: block;
    float: left;
    height: 50px;
    margin-left: 10px;
}

.navlinks {
    display: block;
    float: right;
    padding: 14px;
}

.navlinks a{
    padding-left: 16px;
}

header {
    background-image: url(.//Images/img-mission-background.jpeg);
    height: 700px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header_text {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    background-color: black;
}

.teamonth {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.teaimg {
    display: flex;
    max-width: 1000px;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.berry_img,
.spiced_img,
.donut_img,
.myrtle_img,
.bedford_img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.location {
    background-image: url(./Images/img-locations-background.jpeg);
    height: 500px;
    width: 1200px;
    margin: auto;
}

.location h2 {
    padding-top: 130px;
}

.adres {
    display: flex;
    justify-content: center;
    align-items: center;
}

.downtown,
.east,
.oakdale {
    background-color: black;
    width: 300px;
    margin-top: 15px;
    opacity: 1;
}

.downtown,
.east {
    margin-right: 40px;
}

.contact {
    height: 200px;
}

.copyright p {
    text-align: left;
    margin-left: 20px;
}